<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Doggos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Who's that doggo?</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
				<li><a href="https://www.npr.org/sections/alltechconsidered/2017/04/23/524514526/dogs-are-doggos-an-internet-language-built-around-love-for-the-puppers?t=1580668262124">DoggoLingo</a></li>
                <li><a href="https://github.com/mbroend">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Who's that doggo?</h1>

        <hr />

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 form-group-lg">
				<div class="row">
					<div align="center">
						<input class="custom-file-input" id="userImage" type="file" name="image" accept="image/*" capture="camera" >
							<p id="race"></p>	
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-6 " align="center">
						<img id="uploadedImage" src="#" alt="" width="70%" align="center">	
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-6" align="center">
						
						<img id="returnImage" src="#" alt="" width="70%">
						<p id="loading"><p>
					</div>
				</div>
			</div>
		</div>


    </div>
</div>



<script type="text/javascript">
	var myInput = document.getElementById('userImage');
	var img = document.querySelector('img');
	function sendPic() {
		var file = myInput.files[0];
		
		document.getElementById('uploadedImage').src = window.URL.createObjectURL(file)
		// Send file here either by adding it to a `FormData` object 
		// and sending that via XHR, or by simply passing the file into 
		// the `send` method of an XHR instance.
		let formData = new FormData();
		formData.append('image' , file);
		//console.log(myInput.files[0].name);
		
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/predict', true);
		document.getElementById("loading").innerHTML = "Busy barking at people on the street..."
		document.getElementById("returnImage").src = "/static/images/download.gif"
		xhr.onload = function () {
			// do something to response
			data = JSON.parse(this.response)
			console.log(data);
			doggo_yn = data[1]['dog']
			human_yn = data[2]['human']
			console.log(doggo_yn)
			bytestring = data[4]['dream']
			image = bytestring.split('\'')[1]
			if (human_yn == "True") {
				document.getElementById("loading").innerHTML = ""
				document.getElementById('race').innerHTML = "Heck human-fren, ur doin me a bamboozle!<br>But you looke like a: " + data[3]['race']
				document.getElementById("returnImage").src = "data:image/png;base64," + image
			}
			else if (doggo_yn == "True") {
				document.getElementById("loading").innerHTML = ""
				document.getElementById("returnImage").src = "data:image/png;base64," + image
				document.getElementById('race').innerHTML = "It's a " + data[3]['race']
			}
			else {
				document.getElementById("loading").innerHTML = "Dogfessor says: Not fren"
				document.getElementById('race').innerHTML = ""
				document.getElementById("returnImage").src = "/static/images/professor.jfif"
			}
		};
		xhr.send(formData);

	}

	myInput.addEventListener('change', sendPic, false);
    <!-- const graphs = {{graphJSON | safe}}; -->
    <!-- const ids = {{ids | safe}}; -->
    <!-- for(let i in graphs) { -->
        <!-- Plotly.plot(ids[i], graphs[i].data, graphs[i].layout); -->
    <!-- } -->
</script>

</body>
</html>
